name: Docs

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:

jobs:
  docs:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
      DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - uses: julia-actions/cache@v2
      # Build individual docs
      - run: julia --color=yes --project=GNNGraphs/docs/ GNNGraphs/docs/make.jl
      - run: julia --color=yes --project=GNNlib/docs/ GNNlib/docs/make.jl
      - run: julia --color=yes --project=GNNLux/docs/ GNNLux/docs/make.jl
      - run: julia --color=yes --project=GraphNeuralNetworks/docs/ GraphNeuralNetworks/docs/make.jl
      # Compile multi docs
      - name: MultiDocs
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          julia --project=docs/ -e 'using Pkg; Pkg.instantiate()'
          julia --color=yes --project=docs/ docs/make-multi.jl
